<link rel="stylesheet" href="css/search-forms.css" />
<form
  onsubmit="return validateForm()"
  action="/search"
  method="GET"
  class="search-form-big"
>
  <input
    type="text"
    name="q"
    id="searchInput"
    placeholder="What's on your mind?"
    value="<%= query %>"
  />
  <button type="submit">
    <span class="material-symbols-rounded"> arrow_right_alt </span>
  </button>
  <div class="suggestions">
    <ul id="suggestionsList"></ul>
  </div>
</form>

<script src="js/getSearchSuggestions.js"></script>
<script src="js/inputFocus.js"></script>
<script src="js/validateForm.js"></script>
