<form
  onsubmit="return validateForm()"
  action="/search"
  method="GET"
  class="search-form-big"
>
  <input
    type="text"
    name="q"
    id="searchInput"
    placeholder="What's on your mind?"
    value="<%= query %>"
  />
  <button type="submit">
    <span class="material-symbols-rounded"> arrow_right_alt </span>
  </button>
  <div class="suggestions">
    <ul id="suggestionsList"></ul>
  </div>
</form>
<script>
  const searchInput = document.querySelector("#searchInput");
  const suggestionsList = document.querySelector("#suggestionsList");

  searchInput.addEventListener("input", () => {
    const searchTerm = searchInput.value;

    fetch(`/search/suggestions?q=${searchTerm}`)
      .then((response) => response.json())
      .then((suggestions) => {
        suggestionsList.innerHTML = "";
        suggestions.forEach((suggestion) => {
          const li = document.createElement("li");
          li.textContent = suggestion;
          suggestionsList.appendChild(li);
        });
      });
  });
</script>
