<link rel="stylesheet" href="css/voice-search.css" />

<button onclick="startRecording()" class="voice-search-btn-big">
  <span class="material-symbols-rounded"> mic </span>
  Voice Search
</button>

<script src="js/recordAudio.js"></script>
