<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head.ejs") %>
  <body>
    <a href="/about">About</a>
    <div class="search-container">
      <h1 class="search-logo">Ding</h1>
      <form
        onsubmit="return validateForm()"
        action="/search"
        method="POST"
        class="search-form"
      >
        <input
          type="text"
          name="search"
          id="searchInput"
          placeholder="What's on your mind?"
          class="search-input"
        />
        <button type="submit" class="search-btn">
          <span class="material-symbols-rounded"> arrow_right_alt </span>
        </button>
      </form>
    </div>
    <script src="js/index.js"></script>
  </body>
</html>
