<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head.ejs") %>
    <link rel="stylesheet" href="css/index.css" />
  </head>
  <body>
    <div class="search-container">
      <h1 class="big-logo">Ding</h1>
      <form
        onsubmit="return validateForm()"
        action="/search"
        method="GET"
        class="search-form"
      >
        <input
          type="text"
          name="q"
          id="searchInput"
          placeholder="What's on your mind?"
        />
        <button type="submit">
          <span class="material-symbols-rounded"> arrow_right_alt </span>
        </button>
      </form>
    </div>
    <script src="js/index.js"></script>
  </body>
</html>
