<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ding Search</title>
  </head>
  <body>
    <a href="/about">About</a>
    <h1>Ding</h1>
    <form action="/search" method="POST">
      <input
        type="text"
        name="search"
        id="search"
        placeholder="What's on your mind?"
      />
      <button type="submit">Search</button>
    </form>
  </body>
</html>
