<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head.ejs") %>
    <link rel="stylesheet" href="css/index.css" />
  </head>
  <body>
    <div class="search-container">
      <h1 class="big-logo">Ding</h1>
      <%- include("partials/search-form-big.ejs") %>
    </div>

    <script src="js/inputFocus.js"></script>
    <script src="js/validateForm.js"></script>
  </body>
</html>
