header {
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--container);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: min(5vw, 40px);
  padding-right: min(5vw, 40px);
  display: flex;
  justify-content: left;
  align-items: center;
  z-index: 100;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
}

header .links {
  margin-left: auto;
}

header .links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

header .links li {
  margin-left: 40px;
}

header .links a {
  text-decoration: none;
  color: var(--primary);
  font-size: 16px;
}

@media only screen and (max-width: 600px) {
  header {
    height: 60px;
  }
  header .links {
    display: none;
  }
}