header {
  height: 5rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--container);
  padding: 1.25rem 2.5rem;
  display: flex;
  justify-content: left;
  align-items: center;
  z-index: 100;
}

header .small-logo {
  font-size: 2rem;
  text-decoration: none;
  font-weight: 700;
  color: var(--primary);
  font-family: "Poppins", sans-serif;
}

header .search-form {
  display: flex;
  align-items: center;
  margin-left: 2.5rem;
}

header .search-form input {
  height: 2.8rem;
  border-radius: 100px;
  width: 28rem;
  border: none;
  font-size: 1rem;
  padding: 0 1rem;
  flex: 1;
  outline: none;
  background-color: var(--background);
  transition: 0.1s ease-in-out;
  font-family: "Inter", sans-serif;
}

header .search-form input::placeholder {
  color: var(--text-light);
}

header .search-form input:focus::placeholder {
  color: transparent;
}

header .search-form button {
  background-color: var(--primary);
  border-radius: 100px;
  color: var(--background);
  height: 2.8rem;
  width: 2.8rem;
  font-size: 2rem;
  cursor: pointer;
  border: none;
  margin-left: -2.8rem;
}

header .links {
  margin-left: auto;
}

header .links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

header .links li {
  margin-left: 2.5rem;
}

header .links a {
  text-decoration: none;
  color: var(--primary);
  font-size: 1rem;
}

.search-results {
  margin-top: 7rem;
}
