/* Small search form */
.search-form-small {
  display: flex;
  align-items: center;
  margin-left: min(5vw, 40px);
  border-radius: 100px;
  background-color: var(--background);
}

.search-form-small input {
  height: 48px;
  width: 44vw;
  max-width: 420px;
  border: none;
  font-size: 16px;
  padding: 0 14px;
  outline: none;
  background-color: transparent;
  font-family: "Inter", sans-serif;
}

.search-form-small input::placeholder {
  color: var(--text-light);
}

.search-form-small input:focus::placeholder {
  color: transparent;
}

.search-form-small button {
  height: 48px;
  width: 48px;
  border-radius: 100px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--primary);
  color: var(--background);
}

/* Big search form */
.search-form-big {
  display: flex;
  align-items: center;
  box-shadow: 0 0 0 2px var(--container);
  background-color: var(--background);
  border-radius: 100px;
  transition: box-shadow 0.1s ease-in-out;
}

.search-form-big input {
  height: 52px;
  width: 70vw;
  max-width: 500px;
  border-radius: 100px;
  border: none;
  font-size: 18px;
  padding: 0 16px;
  outline: none;
  background-color: transparent;
  font-family: "Inter", sans-serif;
  -webkit-appearance: none;
}

.search-form-big input::placeholder {
  color: var(--text-light);
}

.search-form-big input:focus::placeholder {
  color: transparent;
}

.search-form-big:hover,
.search-form-big:focus-within {
  box-shadow: 0 0 0 4px var(--container);
}

.search-form-big button {
  height: 52px;
  width: 52px;
  border-radius: 100px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--primary);
  color: var(--background);
  font-size: 20px;
}

.suggestions {
  display: none;
}

@media only screen and (max-width: 600px) {
  /* Small search form */
  .search-form-small input {
    height: 40px;
    width: 60vw;
  }

  .search-form-small button {
    height: 40px;
    width: 40px;
    margin-left: -40px;
  }

  /* Big search form */
  .search-form-big input {
    height: 48px;
    width: 75vw;
    font-size: 16px;
  }

  .search-form-big button {
    height: 48px;
    width: 48px;
  }
}
