/* Small search form */
.search-form-small {
  display: flex;
  align-items: center;
  margin-left: 40px;
}

.search-form-small input {
  height: 48px;
  width: 450px;
  border-radius: 100px;
  border: none;
  font-size: 16px;
  padding: 0 14px;
  flex: 1;
  outline: none;
  background-color: var(--background);
  transition: 0.1s ease-in-out;
  font-family: "Inter", sans-serif;
}

.search-form-small input::placeholder {
  color: var(--text-light);
}

.search-form-small input:focus::placeholder {
  color: transparent;
}

.search-form-small button {
  height: 48px;
  width: 48px;
  border-radius: 100px;
  border: none;
  margin-left: -48px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--primary);
  color: var(--background);
}

/* Big search form */
.search-form-big {
  display: flex;
  align-items: center;
}

.search-form-big input {
  height: 52px;
  width: 500px;
  border-radius: 100px;
  border: 2px solid var(--container);
  font-size: 18px;
  padding: 0 16px;
  flex: 1;
  outline: none;
  background-color: var(--background);
  transition: 0.1s ease-in-out;
  font-family: "Inter", sans-serif;
}

.search-form-big input::placeholder {
  color: var(--text-light);
}

.search-form-big input:focus::placeholder {
  color: transparent;
}

.search-form-big input:hover,
.search-form-big input:focus {
  background-color: var(--container);
  border-color: transparent;
}

.search-form-big button {
  height: 52px;
  width: 52px;
  border-radius: 100px;
  border: none;
  margin-left: -48px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--primary);
  color: var(--background);
  font-size: 20px;
}
