/* Small search form */
.search-form-small {
  display: flex;
  align-items: center;
  margin-left: min(5vw, 40px);
  border-radius: 100px;
  background-color: var(--background);
  position: relative; /* Added */
}

.search-form-small input {
  height: 48px;
  width: 40vw;
  max-width: 400px;
  border: none;
  font-size: 16px;
  padding: 0 0 0 14px;
  outline: none;
  background-color: transparent;
  font-family: "Inter", sans-serif;
}

.search-form-small input::placeholder {
  color: var(--text-light);
}

.search-form-small input:focus::placeholder {
  color: transparent;
}

.search-form-small .search-btn-small {
  height: 48px;
  width: 48px;
  border-radius: 100px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--primary);
  color: var(--background);
}

/* Big search form */
.search-form-big {
  position: relative;
  display: flex;
  align-items: center;
  box-shadow: 0 0 0 2px var(--container);
  background-color: var(--background);
  border-radius: 100px;
  transition: box-shadow 0.1s ease-in-out;
}

.search-form-big input {
  height: 52px;
  width: 65vw;
  max-width: 450px;
  border-radius: 100px;
  border: none;
  font-size: 18px;
  padding: 0 0 0 16px;
  outline: none;
  background-color: transparent;
  font-family: "Inter", sans-serif;
  -webkit-appearance: none;
}

.search-form-big input::placeholder {
  color: var(--text-light);
}

.search-form-big input:focus::placeholder {
  color: transparent;
}

.search-form-big:hover,
.search-form-big:focus-within {
  box-shadow: 0 0 0 4px var(--container);
}

.search-form-big .search-btn-big {
  height: 52px;
  width: 52px;
  border-radius: 100px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--primary);
  color: var(--background);
  font-size: 20px;
}

/* Suggestions */
.suggestions {
  position: absolute;
  margin-top: 10px;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--background);
  border-radius: 22px;
  z-index: 1;
  display: none;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  box-shadow: 0 3px 8px 1px var(--container);
}

.suggestions ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.suggestions ul li {
  padding: 14px;
  text-decoration: none;
  border-radius: 22px;
  font-size: 16px;
  padding: 0 20px;
  height: 44px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

.suggestions ul li:hover {
  background-color: var(--container-light);
}

@media only screen and (max-width: 600px) {
  /* Small search form */
  .search-form-small input {
    height: 40px;
    width: 45vw;
  }

  .search-form-small .search-btn-small {
    height: 40px;
    width: 40px;
  }

  /* Big search form */
  .search-form-big input {
    height: 48px;
    width: 60vw;
    font-size: 16px;
  }

  .search-form-big .search-btn-big {
    height: 48px;
    width: 48px;
  }
}
