.search-results-container {
  margin-top: 130px;
  width: 70vw;
  max-width: 700px;
  margin-left: min(5vw, 100px);
}

.search-result {
  width: fit-content;
  height: fit-content;
  margin-bottom: 40px;
}

.search-result .title {
  text-decoration: none;
  color: var(--primary);
  font-size: 22px;
  font-weight: 400;
}

.search-result a:hover {
  text-decoration: underline;
}

.search-result .url {
  font-size: 12px;
  color: var(--gray);
  margin-bottom: 8px;
}

.search-result .description {
  font-size: 14px;
  color: var(--gray);
  margin-top: 8px;
  line-height: 1.5;
}

.spelling-correction {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--container);
  padding: 10px 24px;
  width: fit-content;
  border-radius: 22px;
  margin-bottom: 30px;
  gap: 14px;
  margin-top: -20px;
}

.spelling-correction p {
  font-size: 16px;
  color: var(--gray);
}

.spelling-correction a {
  text-decoration: none;
  color: var(--primary);
  font-size: 16px;
}

@media only screen and (max-width: 600px) {
  .search-results-container {
    margin-top: 90px;
    width: auto;
    margin-left: 0;
    padding: 0 30px;
  }

  .search-result {
    margin-bottom: 30px;
    width: 100%;
  }

  .spelling-correction {
    margin-top: 0;
    max-width: 100%;
  }
}
