:root {
  --primary: #2173ee;
  --background: #ffffff;
  --text: #000000;
  --container: #2072ee14;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: "Inter", sans-serif;
}

.logo-text {
  color: var(--primary);
  font-family: "Poppins", sans-serif;
}
