.voice-search-btn {
  height: 40px;
  width: 40px;
  border-radius: 100px;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
  color: var(--primary);
  font-size: 15px;
  display: flex;
  transition: 0.2s ease-in-out;
  margin: 0;
}
